xxhash==4.0.1
opentelemetry-exporter-otlp-proto-common==1.44.0
opentelemetry-semantic-conventions==0.65b0
vl-convert-python==1.9.0.post1
opentelemetry-sdk==1.44.0
typer==0.27.2
annotated-types==0.8.0
platformdirs==4.11.8
opentelemetry-exporter-otlp-proto-http==1.44.0
annotated-doc==0.0.5
googleapis-common-protos==1.75.3
protobuf==7.36.1
pydantic==2.13.5
click==8.5.0
pydantic_core==2.46.5
greenlet==3.5.5
pyee==13.0.1
playwright==1.62.0
opentelemetry-api==1.44.0
typing_extensions==4.16.0
opentelemetry-proto==1.44.0
wandb==0.30.0
rich==15.0.0
shellingham==1.5.4
typing-inspection==0.4.4
requests-toolbelt==1.0.0
ubuntu-pro-client==8001
ufw==0.36.2
screen-resolution-extra==0.0.0
setuptools==68.1.2
hyperlink==21.0.0
constantly==23.10.4
rfc3986==2.0.0
boto3==1.34.46
jaraco.classes==3.2.1
cmarkgfm==0.8.0
netifaces==0.11.0
Jinja2==3.1.2
jsonpatch==1.32
PyGObject==3.48.2
systemd-python==235
bcc==0.29.1
wheel==0.42.0
pyserial==3.5
urllib3==2.0.7
more-itertools==10.2.0
configobj==5.0.8
service-identity==24.1.0
ptyprocess==0.7.0
rich==13.7.1
jeepney==0.8.0
lazr.restfulclient==0.14.6
PyYAML==6.0.1
cryptography==41.0.7
cryptography==41.0.7
jsonschema==4.10.3
MarkupSafe==2.1.5
pillow==10.2.0
mdurl==0.1.2
jmespath==1.0.1
certifi==2023.11.17
python-debian==0.1.49+ubuntu2
lazr.uri==1.0.6
tinycss2==1.2.1
SecretStorage==3.3.3
s3transfer==0.10.1
msgpack==1.0.3
attrs==23.2.0
python-magic==0.4.27
pkginfo==1.9.6
Twisted==24.3.0
Pygments==2.17.2
bcrypt==3.2.2
typing_extensions==4.10.0
colorama==0.4.6
greenlet==3.0.3
httplib2==0.20.4
idna==3.6
jsonpointer==2.0
bleach==6.1.0
olefile==0.46
requests==2.31.0
pyOpenSSL==23.2.0
Automat==22.10.0
incremental==22.10.0
sos==4.8.2
blinker==1.7.0
wadllib==1.3.6
chardet==5.2.0
pytz==2024.1
packaging==24.0
pip==24.0
pexpect==4.9.0
launchpadlib==1.11.0
keyring==24.3.1
six==1.16.0
pyrsistent==0.20.0
zipp==1.0.0
distro-info==1.7+build1
pyasn1-modules==0.2.8
oauthlib==3.2.2
cloud-init==25.1.2
netaddr==0.8.0
html5lib==1.1
zope.interface==6.1
command-not-found==0.3
docutils==0.20.1
botocore==1.34.46
pyparsing==3.1.1
speedtest-cli==2.1.3
unattended-upgrades==0.1
ssh-import-id==5.11
PyHamcrest==2.1.0
pynvim==0.5.0
python-apt==2.7.7+ubuntu4
click==8.1.6
roman==3.3
importlib-metadata==4.12.0
webencodings==0.5.1
python-dateutil==2.8.2
Babel==2.10.3
markdown-it-py==3.0.0
dbus-python==1.3.2
twine==5.0.0
pyasn1==0.4.8
distro==1.9.0
readme-renderer==41.0
xkit==0.0.0
PyJWT==2.7.0
